<hart-widget>
  <widget-title>Heating</widget-title>
  <widget-icon>
    <md-icon md-font-icon="icon-fire" class="hart-widget-temperature-icon"></md-icon>
  </widget-icon>
  <widget-content>
    <ul>
      <li ng-repeat="room in $ctrl.data" class="hart-widget-row" layout="row" layout-align="space-between center">
        <div>{{ room.name }}</div>
        <div layout="row" layout-align="start center">
          <span class="md-caption">current: {{ room.current }}°C</span>
          <hart-temperature-field ng-model="room.value" ng-change="$ctrl.change(room)"></hart-temperature-field>
        </div>
      </li>
    </ul>
  </widget-content>
</hart-widget>