.harc-temperature-field {

}

  .harc-temperature-field-button.md-button {
    line-height: 16px;
    min-height: 16px;
    min-width: 0;
  }

    .harc-temperature-field-button.mod-decrease {
      color: blue;
    }

    .harc-temperature-field-button.mod-increase {
      color: red;
    }