/* styles in src/style directory are applied to the whole page */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

header {
  text-align: center;
  background: rgb(3, 155, 229) url(../public/img/header-bg.png);
  color: #fff;
  background-size: cover;
  overflow: hidden;
}

footer {
  text-align: center;
  color: #ccc;
}

ul {
  list-style: none;
  padding: 0;
}