/* styles in src/style directory are applied to the whole page */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

header {
  text-align: center;
}

  header h1 {
    color: #fff;
  }

footer {
  margin-top: 10px;
  text-align: center;
  color: #ccc;
}

  footer a {
    color: #ccc;
  }

ul {
  list-style: none;
  padding: 0;
}